<aside class="main-sidebar">
    <section class="sidebar" style="height: auto;">
        <ul class="sidebar-menu tree" data-widget="tree">
            <li class="header">MAIN NAVIGATION</li>
            <li data-ng-repeat="item in ::items" class="treeview menu-open">
                <a data-ui-sref="{{::item.href}}">
                    <span class="glyphicon glyphicon-{{::item.icon}}"></span>
                    <span data-ng-bind="::item.title"></span>
                    <span class="pull-right-container">
                        <span class="glyphicon glyphicon-menu-down pull-right"></span>
                    </span>
                </a>
                <ul class="treeview-menu" style="display: block;" data-ng-if="item.items">
                    <li data-ng-repeat="item in ::item.items">
                        <a data-ui-sref="{{::item.href}}">
                            <span class="glyphicon glyphicon-{{::item.icon}}"></span>
                            <span data-ng-bind="::item.title"></span>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </section>
</aside>