<section class="content-header">
    <h1>Wi-Fi Settings</h1>
</section>
<section class="content">
    <div class="row">
        <div class="col-md-4">
            <div class="box box-info">
                <div class="box-header with-border">
                    <h3 class="box-title"></h3>
                    <button type="button" class="btn btn-info btn-xs btn-flat box-tool" data-ng-click="$api.wifi.scan()">
                        Scan
                    </button>
                    <button type="button" class="btn btn-info btn-xs btn-flat box-tool">
                        <i class="fa fa-save"></i>
                        Save
                    </button>
                    <button type="button" class="btn btn-danger btn-xs btn-flat box-tool">
                        Cancel
                    </button>
                </div>
                <div class="nav-tabs-custom">
                    <ul class="nav nav-tabs">
                        <li style="cursor: pointer" data-ng-click="model.wifiMode='access-point'" data-ng-class="{active:model.wifiMode==='access-point'}">
                            <a data-toggle="tab">Access Point</a>
                        </li>
                        <li style="cursor: pointer" data-ng-click="model.wifiMode='client'" data-ng-class="{active:model.wifiMode==='client'}">
                            <a data-toggle="tab">Client</a>
                        </li>
                    </ul>
                </div>
                <div class="box-body">
                    <div data-ng-switch="model.wifiMode">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>SSID</label>
                                    <input class="form-control input-sm" type="text" data-ng-model="model.ssid">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Password</label>
                                    <input class="form-control input-sm" type="password" data-ng-model="model.password">
                                </div>
                            </div>
                        </div>
                        <div ng-switch-when="access-point">
                            <div class="form-group">
                                <label>Hide Network Name</label>
                                <div>
                                    <label class="switch">
                                        <input type="checkbox" data-ng-model="model.isHideNetworkName">
                                        <span class="slider round"></span>
                                    </label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>IP Address</label>
                                        <input class="form-control input-sm" type="text" data-ng-model="model.ipAddress">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Subnet Mask</label>
                                        <input class="form-control input-sm" type="text" data-ng-model="model.subnetMask">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div ng-switch-when="client">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>BSSID</label>
                                        <input class="form-control input-sm" type="text" data-ng-model="model.bssid">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Use DHCP</label>
                                        <div>
                                            <label class="switch">
                                                <input type="checkbox" data-ng-model="model.isUseDHCP">
                                                <span class="slider round"></span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Auto Disable Wifi</label>
                                    <select class="form-control input-sm" data-ng-model="model.autoDisableWifi"
                                        data-ng-options="autoDisableWifi.name for autoDisableWifi in ::autoDisableWifis">
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>