<section class="content-header">
    <h1>Wi-Fi Settings</h1>
</section>
<section class="content">
    <div class="row">
        <div class="col-md-4">
            <div class="box box-info">
                <div class="box-body">
                    <div class="form-group">
                        <label>Wi-Fi Mode
                            <span data-ng-balloon="You can run your ESP in AP Mode or Client Mode. In client mode you will need to connect to an existing Wi-Fi network, in AP Mode ESP creates a Wi-Fi network itself"></span>
                        </label>
                        <div>
                            <label class="radio-inline">
                                <input type="radio" name="wifiMode-radio" data-ng-model="model.wifiMode" value="access-point">
                                Access Point
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="wifiMode-radio" data-ng-model=" model.wifiMode" value="client">
                                Client
                            </label>
                        </div>
                    </div>
                    <div data-ng-include="template"></div>
                </div>
                <div class="box-footer with-border">
                    <button type="button" class="btn btn-info btn-xs btn-flat box-tool">
                        <span class="glyphicon glyphicon-floppy-disk"></span>
                        Save
                    </button>
                    <button type="button" class="btn btn-danger btn-xs btn-flat box-tool">
                        Cancel
                    </button>
                </div>                    
            </div>
        </div>
    </div>
</section>